:root {
  /* Colors: */
  --unnamed-color-ff540033: #ff540033;
  --unnamed-color-cdd5e1: #cdd5e1;
  --unnamed-color-457b9d: #457b9d;
  --unnamed-color-2ec4b6: #2ec4b6;
  --unnamed-color-2ec4b633: #2ec4b633;
  --unnamed-color-ca4e8233: #ca4e8233;
  --unnamed-color-ff9f1c33: #ff9f1c33;
  --unnamed-color-003f5c: #003f5c;
  --unnamed-color-707070: #707070;
  --unnamed-color-00d1de: #00d1de;
  --unnamed-color-ca4e82: #ca4e82;
  --unnamed-color-ff9f1c: #ff9f1c;
  --unnamed-color-2e4a79: #2e4a79;
  --unnamed-color-7388a95a: #7388a95a;
  --unnamed-color-9d9d9d: #9d9d9d;
  --unnamed-color-ff5400: #ff5400;
  --unnamed-color-b2bec39c: #b2bec39c;
  --unnamed-color-8d9192: #8d9192;
  --unnamed-color-efefef: #efefef;
  --unnamed-color-2c3e50: #2c3e50;
  --unnamed-color-08415c: #08415c;
  --unnamed-color-f39c1200: #f39c1200;
  --unnamed-color-00000029: #00000029;
  --unnamed-color-ffffff99: #ffffff99;
  --unnamed-color-ffffff66: #ffffff66;
  --unnamed-color-f4f7fe: #f4f7fe;
  --unnamed-color-b2bec3: #b2bec3;
  --unnamed-color-000000: #000000;
  --main-color-f40009: #f40009;
  --unnamed-color-ffffff: #ffffff;
}
