.factoryList {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 5vh;
  margin-bottom: 5vh;
}
/* //////////////////////////////// */

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.production {
  text-align: left;
  font: normal normal 600 14px Montserrat;
  letter-spacing: 0px;
  color: #003f5c;
  text-transform: capitalize;
}

.category {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 2px 6px #0000001c;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.category button {
  background-color: transparent;
  border-radius: inherit;
  border: none;
  outline: none;
  text-align: center;
  font: normal normal normal 13px Montserrat;
  letter-spacing: 0.24px;
  color: #4c788d;
  cursor: pointer;
  padding: 6px 14px;
}

.category .active-btn {
  background-color: #f40009;
  color: #ffffff;
}
/* //////////////////////////////// */
.listItem {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 12px #0000001a;
  display: flex;
  flex-direction: column;
  border-radius: 1vh;
  width: 17vw;
  cursor: pointer;
}

.factoryName {
  background: #08415c 0% 0% no-repeat padding-box;
  border-radius: 1vh 1vh 0 0;

  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
}

.factoryName div {
  text-align: left;
  font: 11px Montserrat;
  color: #eeeeee;

  width: 8vw;
  margin-left: 1vw;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  margin-bottom: 1vh;
}

.property {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.property-group-left {
  display: flex;
  align-items: center;
  margin-left: 1vw;
}

.icons {
  width: 2vw;
}

.titles {
  text-align: left;
  font: normal normal bold 9px Montserrat;
  letter-spacing: 0px;
  color: #2c3e50;
  width: 9vw;
}
.results {
  color: #8d9192;
  text-align: left;
  font: normal normal 11px Montserrat;
  /* letter-spacing: 0.42px; */
  /* margin-right: 1vw; */
}

.results span {
  font: normal normal 10px Montserrat;
}

.separator {
  display: grid;
  grid-template-columns: 7vw 1fr 4vw;
  align-items: center;
  /* margin-bottom: 1vh; */
}

.separator .shift {
  text-align: center;
  font: normal normal bold 9px Montserrat;
  letter-spacing: 0px;
  color: #08415c;
}

.separator hr {
  color: #08415c;
  width: 100%;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats div div {
  text-align: left;
  font: normal normal 11px Montserrat;
  /* letter-spacing: 0.48px; */
  color: #000000;
}
